.time {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
}
.list-card {
  background-color: #ffffff;
  display: flex;
  align-items: center;

  width: 100%;
}
.logo {
  width: 25px;
  height: 25px;
  margin-left: 10px;
  margin-right: 10px;
}
.title-name {
  font-family: 'Roboto';
  font-size: 15px;
  color: #475569;
}
.container {
  display: flex;

  align-items: center;
  padding: 10px;
  width: 90%;
}
.title-card {
  display: flex;
  align-items: center;
  padding: 10px;
}
.domain-url {
  font-family: 'Roboto';
  font-size: 15px;
  color: #64748b;
  margin-left: 10px;
}
.delete {
  width: 25px;
  height: 25px;
}
.card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.button {
  background-color: transparent;
  border-width: 0px;
}
